<h1>
  Editing customer
  <span class="nav-link"><%= link_to 'Show', @customer, { :class => "btn btn-small" } %></span>
  <span class="nav-link"><%= link_to 'Back', customers_path, { :class => "btn btn-small" } %></span>
</h1>

<%= render 'form' %>
